/*general*/
.card {
  max-width: 40rem;
  min-width: 32rem;
  display: block;
  margin: 50px auto;
  border: 3px solid rgb(39, 97, 223);
  background: rgba(39, 97, 223, 0.02);
}
.card-body {
  padding: 30px 20px 10px;
}
/*NAV BAR*/
.other-temp-character,
.date,
.hour {
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
  color: rgb(110, 109, 109);
  line-height: 18px;
}
.date p {
  margin: 0;
}
/*SEARCH BAR*/
.fa-solid.fa-magnifying-glass {
  color: rgba(39, 97, 223, 0.8);
}
input,
.btn.btn-primary {
  font-family: "Kdam Thmor Pro", sans-serif;
}
.btn.btn-primary.blue {
  background: rgb(39, 97, 223);
}
/*current temperature*/
.city {
  font-size: 40px;
  font-weight: bold;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgb(86, 31, 189);
  line-height: 44px;
}
.other-temp-character p {
  margin: 0;
}
.full-current {
  padding: 12px 0;
}
.icon {
  height: 65px;
  width: 65px;
}
.cur-num {
  font-size: 36px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;
  color: rgb(4, 161, 4);
  line-height: 36px;
  padding-right: 4px;
}
.temp-sign {
  text-decoration: none;
  font-size: 20px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;
  color: rgb(39, 97, 223);
  line-height: 53px;
}
.temp-sign.active {
  color: rgb(110, 109, 109);
  cursor: default;
}
.temp-sign.active:hover {
  text-decoration: none;
}
.vertical-slash {
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 550;
  color: rgb(110, 109, 109);
  line-height: 53px;
}
.other-temp-character {
  padding: 12px 11px;
}
.general-current-status {
  font-family: monospace;
  font-weight: 900;
  color: rgba(39, 97, 223, 0.8);
  font-size: 22px;
  line-height: 22px;
}
.general-current-status::first-letter {
  text-transform: capitalize;
}
/*temperature for the current day*/
.forecast-hour,
.forecast {
  padding: 0 12px;
}
.row.cur-day,
.row.five-days {
  background: rgba(86, 31, 189, 0.03);
  padding: 20px 12px;
  margin-bottom: 40px;
  border: 2px solid rgba(86, 31, 189, 0.1);
  border-radius: 15px;
}
.cur-day-temp,
.day-temp {
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
  color: rgb(4, 161, 4);
  margin: 0;
}
/*temperature for 5 days*/
.day {
  font-family: monospace;
  font-weight: 900;
  color: rgba(39, 97, 223, 0.8);
  font-size: 17px;
  margin: 0;
}
.day-temp-min {
  opacity: 0.7;
}
/*Coded*/
footer {
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgba(86, 31, 189, 0.5);
  font-size: 13px;
  font-weight: bold;
}
.footer-link {
  text-decoration: none;
}
