:root {
  --main-font: "Kdam Thmor Pro", sans-serif;
  --secondary-font: monospace;
  --main-color: #fdffab;
  --second-color: #c7efcf;
  --background-color: #59a985;
}
/*general*/
.card {
  max-width: 750px;
  display: block;
  margin: 50px auto;
  background: var(--background-color);
}
.card-body {
  padding: 30px 20px 10px;
}
/* City links */
.cityLinks {
  padding: 10px 20px;
  background: var(--main-color);
  border-radius: 10px;
  margin: 0 0 30px;
}
.cityLinks .link {
  padding: 0;
}
.cityLinks a {
  text-decoration: none;
  font-size: 12px;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--background-color);
}

/*NAV BAR*/
.other-temp-character,
.date {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--main-color);
  line-height: 1.2;
}
.date p {
  margin: 0;
}
/*SEARCH BAR*/
.input-group-text {
  background-color: var(--second-color);
  border-color: var(--second-color);
}
.form-control {
  border-color: var(--second-color);
  color: var(--background-color);
}
.fa-solid.fa-magnifying-glass {
  color: var(--background-color);
}
input,
.btn.btn-primary {
  font-family: var(--main-font);
}
.btn.btn-primary.blue {
  color: var(--background-color);
  background: var(--second-color);
  border-color: var(--second-color);
}
.btn.btn-primary.blue:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
/*current temperature*/
.city {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--main-font);
  color: var(--second-color);
  line-height: 1.2;
}
.other-temp-character p {
  margin: 0;
}
.icon {
  height: 65px;
  width: 65px;
}
.cur-num {
  font-size: 36px;
  font-family: var(--main-font);
  font-weight: 900;
  color: var(--main-color);
  line-height: 1.2;
  padding-right: 4px;
}
.temp-sign {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--main-font);
  font-weight: 900;
  color: var(--second-color);
  line-height: 2.5;
}
.temp-sign:hover {
  color: var(--main-color);
}
.temp-sign.active {
  color: var(--main-color);
  cursor: default;
}
.temp-sign.active:hover {
  text-decoration: none;
}
.vertical-slash {
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
  font-family: var(--main-font);
  font-weight: 550;
  color: var(--main-color);
  line-height: 2.5;
}
.general-current-status {
  font-family: var(--secondary-font);
  font-weight: 900;
  color: var(--second-color);
  font-size: 22px;
  line-height: 1.2;
}
.general-current-status::first-letter {
  text-transform: capitalize;
}
/*temperature for the current day*/
.titleForecast {
  font-size: 12px;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--background-color);
  padding: 10px 20px;
  background: var(--main-color);
  border-radius: 10px;
}
.hour-now {
  font-family: var(--main-font);
  font-weight: 900;
  color: var(--main-color);
  font-size: 18px;
  margin: 0;
}
.row.cur-day,
.row.six-days {
  padding: 20px 12px;
  margin-bottom: 30px;
}
.cur-day-temp,
.day-temp {
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--main-color);
  margin: 0;
}
/*temperature for 5 days*/
.day,
.hour {
  font-family: var(--secondary-font);
  font-weight: 900;
  color: var(--second-color);
  font-size: 18px;
  margin: 0;
}
.day-today {
  font-family: var(--main-font);
  font-weight: 900;
  color: var(--main-color);
  font-size: 18px;
  margin: 0;
}
.day-temp-min {
  opacity: 0.7;
}
/*Coded*/
footer {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}
.footer-link {
  text-decoration: none;
  color: var(--second-color);
  font-size: 25px;
}
.footer-link:hover {
  color: var(--main-color);
}
@media (max-width: 768px) {
  .card {
    display: block;
    margin: 0 auto;
  }
  .row.cur-day,
  .row.six-days {
    padding: 10px 12px;
    margin-bottom: 0;
  }
  footer {
    margin-top: 40px;
  }
  .titleForecast {
    margin-top: 10px;
  }
}
